@font-face {
  font-family: "Geist";
  src: url("/fonts/geist-sans/Geist-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel";
  src: url("/fonts/geist-pixel/GeistPixel-Square.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
